name: Nix build

on:
  push:
    branches:
      - '**'

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Run Go Tests
        run: nix develop -c go test -v ./...

  release:
    needs: go-tests
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Verify Nix Package
        run: nix build . --print-build-logs

      - name: Check Build Output
        run: ./result/bin/gonix --version

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch

      - name: Build with Version Injection
        run: nix build . --build-arg version=${{ steps.tag_version.outputs.new_tag }}

      - name: Prepare Artifact
        run: cp ./result/bin/gonix ./gonix-${{ steps.tag_version.outputs.new_tag }}-linux-amd64

      - name: Create Release
        if: steps.tag_version.outputs.new_tag != ''
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          files: ./gonix-${{ steps.tag_version.outputs.new_tag }}-linux-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
