name: nix build

on:
  workflow_run:
    workflows: ["tests"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_check:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Verify Nix Package
        run: nix build . --print-build-logs

      - name: Check Build Output
        run: ./result/bin/gonix --version

  build_release:
    needs: build_check
    if: github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch

      - name: Build
        run: nix build . --impure  # access env var: APP_VERSION
        env:
          APP_VERSION: ${{ steps.tag_version.outputs.new_tag || github.sha }}

      - name: Prepare Artifact
        run: cp ./result/bin/gonix ./gonix-${{ steps.tag_version.outputs.new_tag }}-x86_64-linux

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          files: ./gonix-${{ steps.tag_version.outputs.new_tag }}-x86_64-linux
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Output
        run: ./gonix-${{ steps.tag_version.outputs.new_tag }}-x86_64-linux --version

