name: Nix build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Run Go Tests
        run: nix develop -c go test -v ./...
    
      - name: build nix default package
        run: nix build .

      - name: Check Build Output
        run: ./result/bin/gonix --version
