name: Nix build

on:
  push:
    branches:
      - main
    tags:
    - 'v*'
  pull_request:
    branches:
      - main

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Run Go Tests
        run: nix develop -c go test -v ./...

  release:
    needs: go-tests
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Build / Verify Nix Package
        run: nix build . --print-build-logs

      - name: Check Build Output
        run: ./result/bin/gonix --version

      - name: Prepare Artifact
        run: cp ./result/bin/gonix ./gonix-${{ github.ref_name }}-linux-amd64

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./gonix-${{ github.ref_name }}-linux-amd64
          generate_release_notes: true
          draft: false
          prerelease: false
